In [1]:

import pandas as pd

dim_cbo = pd.read_csv('arquivos/CBO2002 - Ocupacao.csv', encoding='latin1', sep=';')

In [2]:
dim_cbo

      CODIGO                                             TITULO
0      10105                     Oficial general da aeronáutica
1      10110                        Oficial general do exército
2      10115                         Oficial general da marinha
3      10205                             Oficial da aeronáutica
4      10210                                Oficial do exército
...      ...                                                ...
2708  992205  Encarregado geral de operações de conservação ...
2709  992210  Encarregado de equipe de conservação de vias p...
2710  992215  Operador de ceifadeira na conservação de vias ...
2711  992220  Pedreiro de conservação de vias permanentes (e...
2712  992225  Auxiliar geral de conservação de vias permanen...

[2713 rows x 2 columns]

In [3]:
# padroniza a coluna de código
dim_cbo['CODIGO'] = dim_cbo['CODIGO'].astype(str).str.zfill(6)

# renomeia as colunas
dim_cbo.columns = ['cd_cbo', 'nm_cbo']

In [4]:
dim_cbo

      cd_cbo                                             nm_cbo
0     010105                     Oficial general da aeronáutica
1     010110                        Oficial general do exército
2     010115                         Oficial general da marinha
3     010205                             Oficial da aeronáutica
4     010210                                Oficial do exército
...      ...                                                ...
2708  992205  Encarregado geral de operações de conservação ...
2709  992210  Encarregado de equipe de conservação de vias p...
2710  992215  Operador de ceifadeira na conservação de vias ...
2711  992220  Pedreiro de conservação de vias permanentes (e...
2712  992225  Auxiliar geral de conservação de vias permanen...

[2713 rows x 2 columns]

In [5]:
dim_cbo.to_csv('dimensoes/dim_cbo.csv', index=False, encoding='latin1', sep=';')